/* Responsive styles */
@media only screen and (max-width: 600px) {
    nav .menu-toggle {
        display: block;
    }

    nav .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    nav.show .nav-links {   
        display: flex;
    }

    .nav-button {
        width: 100%;
        padding: 10px
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: black;
    overflow: auto;
    color: white;
    text-align: center;
    padding: 10px;
}

nav {
    display: flex;
}

nav .menu-toggle {
    display: none; /*For hiding the hamburger option. */
}

nav .menu-toggle:hover {
    background-color: black;
}

nav .nav-links a:hover {
    background-color: darkslategrey;
}

.nav-button {
    display: inline-block;
    margin: 20px;
    padding: 10px;
    color: white;
    text-decoration: none; /*to remove the underline */
    border-radius: 5px;
}


main {
    padding: 20px;
    text-align: center;
}


.profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* ------------- Remaining from this part */

section {
    margin-bottom: 20px;
}

.content-section {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

.blog-post {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.blog-post h3 {
    color: #333;
}

.blog-post p {
    color: #666;
}

.blog-post a {
    color: #0056b3;
    text-decoration: none;
}

.blog-post a:hover {
    text-decoration: underline;
}


label {
    display: block;
    margin-bottom: 5px;
}

#contact-form {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    width: 50%;
}

input, textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

button {
    padding: 10px 20px;
    background: black;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background: black;
}

.video {
    margin-top: 20px;
    text-align: center;
}

video iframe {
    max-width: 100%;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
} 