<!-- ########################################################################## -->

<div class="xwikiBlog"> 
    <h1> My First XWiki Development and Integration</h1>

    <div class="xwikiBlog-contents">
        <img id="xwikiWP" src="assets/media/xwikiWP.webp" alt="XWiki and WP Integration">

        <p>Since XWiki is an open-source platform and offers powerful and flexible solutions for knowledge base management, 
            I have recently implemented it in one of my projects. Information on the knowledge base was scattered throughout the website, 
            and there was no centralized solution for this scenario. Thus, XWiki seemed to be an ideal solution. 
            However, I also faced many challenges during the whole process. 
            In this guide, I will walk you through all the steps, and I hope it will help you if you encounter similar issues.
        </p>

        <h4>1. Installing XWiki</h4>
        <p>I installed XWiki using Docker on an Ubuntu Virtual Machine. 
            The Docker Compose file was used to simplify the deployment. 
            All the steps involved in this process, along with the contents of the Docker Compose file, are given 
            <a href="https://github.com/xwiki/xwiki-docker/tree/master">here</a>. 
            Please read it carefully and go through all the steps. 
            My XWiki instance was set up with Tomcat and PostgreSQL. However, you can use the services according to your needs.
        </p>

        <h4>2. SSL Certificate Generation</h4>
        <p>This is an optional step. Since my VM had no SSL certificates, my XWiki instance was flagged with a 
            <code>Not Secure</code> warning. Therefore, I installed SSL certificates on Docker from Let's Encrypt using Caddy. 
            The domain name derived from the IP of the VM was used for it.
        </p>

        <h4>3. XWiki Instance and REST API</h4>
        <p>After running the XWiki and PostgreSQL containers and installing the Standard Flavor of XWiki, 
            numerous knowledge bases with sub-branches were created. 
            <span style="color: red;">&#9888</span> However, I struggled a lot with XWiki API detection. 
            Make sure that you are in the <code>xwiki</code> namespace. Otherwise, you need to use the URL 
            <code>localhost:&lt;your_port_number&gt;/rest/</code>. 
            Many people get confused with <code>localhost:&lt;your_port_number&gt;/xwiki/rest/</code>. 
            The XWiki documentation is not clear enough on this matter.
        </p>

        <h4>4. Custom WordPress Plugin Development for XWiki Integration</h4>
        <p>No suitable and free plugins were available to integrate the XWiki API with WordPress. 
            Thus, I created my own PHP plugin, <code>function.php</code>, and was able to integrate it into WordPress. 
            Before integration, I initially installed Common Markup 1.2 on XWiki for rendering it in HTML. 
            Thus, the content was successfully fetched by WordPress.
        </p>

        <h4>5. Parsing Fetched Content</h4>
        <p>Finally, the fetched content was parsed using <code>Parsedown.php</code>, 
            which was downloaded and added to <code>function.php</code>. 
            <a href="https://github.com/erusev/parsedown/blob/master/Parsedown.php">(Read more)</a>. 
            After parsing, the displayed content contained strings of PHP code. 
            These strings were stripped by creating a function in the PHP plugin. 
            Finally, the displayed content was formatted similarly to how it was written in XWiki.
        </p>

        <p><strong>Note:</strong> If you want to transfer data from any website, format, or WordPress to XWiki, 
            <code>Pandoc</code> seems to be the best solution for it. 
            Also, if you need the actual code, any support, or further details regarding the steps explained above, 
            you can contact me or submit the contact form in the <code>CONTACTS</code> menu of this website. 
            I will reach out to you as soon as possible.
        </p>

    </div>
</div>


<!-- ########################################################################## -->
<!-- 
The experience of summer school can be written here.  -->
<!-- ########################################################################## -->