<div>
    <img id="contact-img" src="assets/media/contact.jpg" alt="Contact Themed">
</div>

<div class="contact">
    <div class="contact-details">
        <h2>Contact Details:</h2>

        <div class="contact-shyamImage">
            <img id="shyamyadavsuit" src="assets/media/shyamyadavsuit.jpeg" alt="Shyam Yadav Professional Photo">
            <h3>Shyam Kumar Ray Yadav</h3>
        </div>

        <div class="contact-email">
            <i class="fa-solid fa-envelope fa-lg" style="margin-right:10px;"></i> &nbsp;<a href="mailto:syadav.techds@gmail.com">syadav.techds@gmail.com</a> <br>
        </div>

        <div class="contact-linkedin">
            <i class="fa-brands fa-linkedin fa-lg" style="margin-right:10px;"></i> &nbsp; <a href="https://www.linkedin.com/in/skryadav/">skryadav</a> <br>
        </div>

        <div class="contact-git">
            <i class="fa-brands fa-github fa-lg" style="margin-right:10px;"></i> &nbsp; <a href="https://github.com/yshyam787">yshyam787</a>
        </div>

    </div>

    <div class="contact-referees">
        <h2>Referees:</h2>
        <h3> Project Head Prof. Dr. Philip Wieder</h3>
        <div class="contact-philip">
            <i class="fa-solid fa-envelope fa-lg" style="margin-right:10px;"></i> &nbsp;<a href="mailto:wieder@gwdg.de">wieder@gwdg.de</a> <br>
        </div>

        <div class="contact-companyPhilip">
            <i class="fa-solid fa-building fa-lg" style="margin-right:15px;"></i> &nbsp;<a href="https://gwdg.de/research-education/researchgroup_wieder/">GWDG Göttingen</a>
        </div>

        <h3>Coordinator Dr. Jörg Wettlaufer</h3>
        <div class="contact-philip">
            <i class="fa-solid fa-envelope fa-lg" style="margin-right:10px;"></i> &nbsp;<a href="mailto:joerg.wettlaufer@adwgoe.de">joerg.wettlaufer@adwgoe.de</a> <br>
        </div>

        <div class="contact-companyPhilip">
            <i class="fa-solid fa-building fa-lg" style="margin-right:15px;"></i> &nbsp;<a href="https://digitale-akademie.adw-goe.de/team/">Digital Academy</a>
        </div>

    </div>
</div>

<div class="contact-form">
    <h2>Contact Form</h2>
    <p>Please fill out this form if you would like to collaborate or have any queries. I would be happy to get back to you as soon as possible. I also want to thank you for visiting my portfolio—I hope it was worth your time!</p>

    <div class="contactFormSubmission">
        <form id="contactForm" action="https://formspree.io/f/mqkrveba" method="POST" autocomplete="on">
            
            <label for="name">Your Name</label> <br>
            <input type="text" id="name" name="name" placeholder="John Doe..."><br><!--ONly the the type is required here. All other's are CSS. -->

            <label for="email">Your Email</label><br>
            <input type="text" id="email" name="email" placeholder="abc@gmail.com..."><br>

            <label for="message">Your Message <span style="color: red;">*</span></label><br>
            <textarea id="message" name="message" placeholder="Let's collaborate..." style="height: 200px;" required></textarea><br>

            <input type="submit" value="Submit">
        </form>
    </div>
</div>