
<div class="intro-home">
    <h1>SHYAM YADAV</h1>
    <p>Data Science Explorer!</p>
</div>


<div class="welcome">
    <h1 id="welcome-title">Welcome to My Portfolio!</h1>

    <div class="welcome-content">
        <div class="welcome-text">
            <p>  
                Hello Everyone! I am Shyam Yadav, and I am thrilled to have you here. This website is a space where you can learn more about me, my interests, and my work. Feel free to explore and read some useful information and blogs on Data Science. I hope you enjoy navigating through my projects and skills. I am passionate about Data Science and always looking for exciting projects to work on. Although I am a student of Data Science, I also have hands-on experience in Web Development and Engineering.

            </p>

            <h3>About Me</h3>
            <p>
                I am currently pursuing my master's in Applied Data Science at the 
                <a href="https://www.uni-goettingen.de/en/applied+data+science+m.sc./642405.html">University of Göttingen</a>. 
                Besides that, I am working as a Data Engineer for Gesellschaft für wissenschaftliche Datenverarbeitung mbH Göttingen 
                <a href="https://www.uni-goettingen.de/de/679145.html">(GWDG)</a> and as a Developer for 
                <a href="https://digitale-akademie.adw-goe.de/team/">Niedersächsische Akademie der Wissenschaften zu Göttingen</a>. 
                I am passionate about learning and diving deeper into the field of Data Science.
            </p>
            
            <p>
                I am originally from Nepal. After completing my high school education in the Science stream, I came to Germany in 2019 
                and pursued my Bachelor's in Electrical and Computer Engineering at Jacobs University Bremen, which is now known as 
                <a href="https://constructor.university/programs/undergraduate-education/electrical-computer-engineering">Constructor University</a>. 
                During my Bachelor's, I also completed an internship at <a href="https://makersite.io/">Makersite GmbH</a>. 
                My interest in Data Science was sparked during that time, which led me to pursue a career in this field. 
                Coming from a small village in Nepal, I am proud of myself for analyzing the milestones I have achieved so far. &#128519;
            </p>
            
        </div>

        <div class="welcome-image">
            <img id="shyamyadav" src="assets/media/shyamyadav.jpeg" alt="Profile photo">
        </div>

    </div>
</div>

<div class="other-info">
    <div class="education">
        <h3>Education</h3>

        <p>All my experiences and skills are presented in the respective 'Projects' and 'Skills' menus. 
            Thus, I would like to discuss my education here. My specialization in the Master's program in Applied Data Science 
            is Neuroscience. Therefore, I have studied neuroscience courses along with Data Science.</p>
        
        <p>Some important courses that I have studied during my master's and bachelor's are listed below.</p>
        

        <div class="education-content">
            <ul class="masterCourse">
                <p><strong>Master's Courses</strong></p>
                <li>Deep Learning for Computer Vision</li>
                <li>Machine Learning</li>
                <li>High Performance Data Analytics</li>
                <li>Visualization</li>
                <li>Data Science Infrastructures</li>
                <li>Advanced Statistical Inference (Likelihood and Bayes)</li>
                <li>Computational Neuroscience</li>
                <li>Neurobiology</li>
            </ul>
    
            <ul class="bachelorCourse">
                <p><strong>Bachelor's Courses</strong></p>
                <li>Algorithms and Data Structures</li>
                <li>Programming in C and C++</li>
                <li>Robotics and Intelligent Systems</li>
                <li>Digital Signal Processing</li>
                <li>Signals and Systems</li>
                <li>Information Theory</li>
                <li>PCB Design and Automation</li>
                <li>Radio Frequency</li>
                <li>Digital Design</li>
                <li>Wireless Communication</li>
                <li>And other Engineering and Mathematics courses.</li>
            </ul>
    
        </div>


    </div>

    <div class="social-engagement">
        <h3>Social Engagement</h3>
        <img id="degis-team" src="assets/media/degis_team.JPG" alt="DEGIS Team">
        <p>Besides academic achievements, I actively participate in community-based events. 
            Recently, I was elected as the Vice President of DEGIS Göttingen - Events and Programs. 
            It is an international student community based in Germany, where we help incoming and new students adapt to the German education system and culture. 
            Furthermore, we help them get exposed to cultural diversity. We have a very large community throughout Germany, and we organize numerous social events throughout the year. 
            <a href="https://degis.info/">Read more...</a>
        </p>
        
        <p>Additionally, I have served as a Student Assistant for community-based events on campus at Jacobs University. 
            I was assigned the position of shift leader for numerous community events. 
            Along with my team, I served the campus body even during the COVID-19 pandemic by organizing various online games and events. 
            <a href="https://constructor.university/blog/return-of-the-tos">Read more...</a>
        </p>
        
        <p>During high school, I was also selected as a School Captain. I fulfilled my duties and responsibilities for two years with full dedication.</p>
        
    </div>
</div>



