
<div class="intro-home">
    <h1>SHYAM YADAV</h1>
    <p>Data Science Explorer!</p>
</div>


<div class="welcome">
    <h1 id="welcome-title">Welcome to My Portfolio!</h1>

    <div class="welcome-content">
        <div class="welcome-text">
            <p>  
                Hello Everyone! I am Shyam Yadav, and I am thrilled to have you here. This website is a space where you can learn more about me, my interests, and my work. Feel free to explore and read some useful informatio and blogs on Data Science. I hope you enjoy here navigating through my projects an skills. I am passionate about data science and always looking for exciting projects to work on. Although I am a student of Data Science, I have hands-on experience in Web Development and Engineering as well. 
            </p>

            <h3>About Me</h3>
            <p>
                I am currently doing my master's in Applied Data Science at the <a href="https://www.uni-goettingen.de/en/applied+data+science+m.sc./642405.html">University of Göttigen</a>. Besides that, I am working as as Data Engineer for Gesellschaft für wissenschaftliche Datenverarbeitung mbH Göttingen <a href="https://www.uni-goettingen.de/de/679145.html">(GWDG)</a>, and as a Developer for <a href="https://digitale-akademie.adw-goe.de/team/">Nidersächsische Akademie Der Wissenschaften Zu Göttingen</a>. I am passionate to learn and dive deeper into the field of data science. 
            </p>

            <p>
                I am orginally from Nepal. After my high school education in Science Stream, I came to Germany in 2019 and did my Bachelor's in Electrical and Computer Engineering at Jacobs University Bremen, which is currently known as <a href="https://constructor.university/programs/undergraduate-education/electrical-computer-engineering">Constructor University</a>. During my Bachelor's, I also did my internship at <a href="https://makersite.io/">Makersite GmbH</a>. My interest towards the data science sparked during that time. Thus, I decide to pursue my carrer in this field. Coming from the small village of Nepal, I am am proud of myself to analyse the milestones that I have achieved so far. &#128519;
            </p>
        </div>

        <div class="welcome-image">
            <img id="shyamyadav" src="assets/media/shyamyadav.jpeg" alt="Profile photo">
        </div>

    </div>
</div>

<div class="other-info">
    <div class="education">
        <h3>Education</h3>

        <p>All my experiences and skills are presented in the respective 'projects' and 'skills' menus. Thus, I would like to discuss here about my Education. The specialization of my Master's in Applied Data Science is Neuroscience. Therefore, I have studied the courses of neuroscience along with Data Science.</p>
        <p>Some important courses that I have studied during my master's and bachelor's are listed below.</p>

        <div class="education-content">
            <ul class="masterCourse">
                <p><strong>Master's Courses</strong></p>
                <li>Deep Learning for Computer Vision</li>
                <li>Machine Learning</li>
                <li>High Performance Data Analytics</li>
                <li>Visualization</li>
                <li>Data Science Infrastructures</li>
                <li>Advanced Statistical Inference (Likelihood and Bayes)</li>
                <li>Computational Neuroscience</li>
                <li>Neurobiology</li>
            </ul>
    
            <ul class="bachelorCourse">
                <p><strong>Bachelor's Courses</strong></p>
                <li>Algorithms and Data Structures</li>
                <li>Programming in C and C++</li>
                <li>Robotics and Intelligent Systems</li>
                <li>Digital Signal Processing</li>
                <li>Signals and Systems</li>
                <li>Information Theory</li>
                <li>PCB Design and Automation</li>
                <li>Radio Frequency</li>
                <li>Digital Design</li>
                <li>Wireless Communication</li>
                <li>And other Engineering and Mathematics courses.</li>
            </ul>
    
        </div>


    </div>

    <div class="social-engagement">
        <h3>Social Engagement</h3>
        <img id="degis-team" src="assets/media/degis_team.JPG" alt="DEGIS Team">
        <p>Besides academic achievements, I actively participate in the community based events. Recently, I was elected as a Vice President of DEGIS Göttingen - Events and Programs. It is and international students community based in Germany where we help all the incoming and new students to adapt to the German Education system and culture. Further, we help them get exposed to culture and diversity. We have a very large community throughout Germany and we organise numerous social events throught the year. <a href="https://degis.info/">Read more...</a></p>

        <p>Also, I have served as a Student Assistant for the community based events on Campus  at Jacobs University. I was assigned the position of shift leader for numerous community events. I along with my team served the campus body even during the time of COVID19 pandemics by organizing different online games and events. <a href="https://constructor.university/blog/return-of-the-tos">Read more..</a></p>

        <p>During my high school, I was also selected as a School Captain. I fulfilled my duties and responsibilities for two years with full dedication.</p>
    </div>
</div>



