<div class="skills">
    <div class="programming">
        <h2>Programming Languages</h2>
        <ul>
            <li>
                <strong>Python:</strong> Performed tasks related to data manipulation, visualization, and machine learning implementation.
            </li>
    
            <li>
                <strong>SQL:</strong> Manipulated Databases using SQL. Have a hands-on experience with SQL, and particularly with <strong>PostgreSQL</strong>.
            </li>
    
            <li>
                <strong>JavaScript:</strong> Programmed in JavaScript during front-end development at Digitale Akademie.
            </li>
    
            <li>
                <strong>C & C++:</strong> Completed assignments of Programming in C and C++ during Bachelor's study. <a href="https://github.com/yshyam787/Programming_in_C_and_C-">Read more</a>
            </li>
    
            <li>
                <strong>Others:</strong> Proficiency in <strong>HTML</strong> and <strong>CSS</strong>. Basic understanding of other languages, including <strong>R, MATLAB</strong>, and frameworks like <strong>Vue.js</strong>. 
            </li>
        </ul>
    </div>

    <div class="dsTools">
        <h2>Data Science Tools</h2>
        <ul>
            <li>
                <strong>Metabase:</strong> Actively used Metabase for querying and integrating it with PostgreSQL.
            </li>
    
            <li>
                <strong>Solr:</strong> Indexed the IMDb Movies Datase using Apache Solr and performed queries. <a href="https://github.com/yshyam787/Solr_IMDB_Indexing">Read more</a>
            </li>
    
            <li>
                <strong>PostgreSQL:</strong> Used as my primary database management system in recent projects. For instance, CRC development. <a href="https://github.com/yshyam787/CRC_Development">Read more</a>
            </li>
    
            <li>
                <strong>Orange:</strong> Implemented discretization, text data preprocessing, and sentence tokenization. 
                <a href="https://github.com/yshyam787/Data_Science_Infrastructures/blob/main/Exercise3/Ray_Yadav_DSI_E03.pdf">Read more</a>
            </li>
    
            <li>
                <strong>Neo4j:</strong> Visualized CSV files in Neo4j, created graph schemas, extended Cypher queries to create nodes, and visualized labels and relationships. 
                <a href="https://github.com/yshyam787/Data_Science_Infrastructures/blob/main/Exercise5/Ray_Yadav_DSI_Exercise_05.pdf">Read more</a>
            </li>
    
            <li>
                <strong>Spark:</strong> Created a cluster, performed MapReduce on a Spark cluster, and ran a Spark job. 
                <a href="https://github.com/yshyam787/Data_Science_Infrastructures/blob/main/Exercise6/Ray_Yadav_DSI_Ex_6.pdf"> Read more</a> 
            </li>
        </ul>
    </div>

    <div class="dataProcessing">
        <h2>Data Processing</h2>
        <ul>
            <li>
                <strong>Data Manipulation:</strong> Used Pandas, NumPy, and SciPy for preprocessing, computation, and data manipulation.
            </li>
    
            <li>
                <strong>Visualization:</strong> Used the libraries such as Matplotlib, Seaborn, Plotly, and ggplot2 for data visualization. <a href="https://github.com/yshyam787/Data_Visualization">Read more</a> 
            </li>

            <li>
                <strong>Machine Learning:</strong> Implemented scikit-learn, PyTorch, TensorFlow, Random Forest, and XGBoost for efficient training of the models and prediction with higher accuracy.
                <a href="https://github.com/yshyam787/Machine_Learning_Implementation">Read more</a>
            </li>

        </ul>
    </div>
    
    <div class="miscellaneous">
        <h2>Miscellaneous</h2>
        <ul>
            <li><strong>Docker:</strong> Installed Docker on Ubuntu VM and used Docker Compose for creation and deployment of the services such as XWiki, PostgresSQL, and Caddy.</li>
    
            <li> <strong>WordPress:</strong> Developed website, created plugins, implemented themes and CSS, and integrated REST APIs.</li>
    
            <li>
                <strong>Git:</strong> Used for all of my personal and professional projects. Collaborated with the teams on multiple branches and CI/CD pipeline.
            </li>

            <li>
                <strong>Cloud Solutions:</strong> Imported file and created  tables in Microsoft Azure using <strong>Databricks</strong>. Visualized data and explored Spark UI in the cluster. <a href="https://github.com/yshyam787/Data_Science_Infrastructures/blob/main/Exercise7/Ray_Yadav_DSI_Ex_7.pdf">Read more</a> <br>

                Synchronized and manipulated multiple directories and files from <strong>ownCloud</strong> using Rclone and WebDAV.
            </li>
    
            <li>
                <strong>Agile:</strong> SCRUM and JIRA for project management and milestone tracking.
            </li>
    
            <li>
                <strong>Operating Systems:</strong> Linux, macOS, and Windows.
            </li>
    
            <li>
                <strong>Documentation:</strong> LaTeX, Canva, and Adobe Captivate.
            </li>
    
        </ul>
    </div>
    
    <div class="maths">
        <h2>Mathematics for Data Science</h2>

        <ul>
            <li>Advance Statistical Inference (Likelihood and Bayes)</li>
            <li>Probability and Random Process</li>
            <li>Numerical Methods</li>
            <li>Calculus and Linear Algebra I</li>
            <li>Calculus and Linear Algebra II</li>
            <li>Information Theory</li>
        </ul>
    </div>

    <div class="languages">
        <h2>Languages</h2>

        <ul id="lang-style">
            <li><strong>English: </strong>Fluent</li>
            <li><strong>German: </strong>B1</li>
            <li><strong>Hindi: </strong>Fluent</li>
            <li><strong>Nepali: </strong>Native</li>
            <li><strong>Maithli: </strong>Native</li>
        </ul>

        <p style="padding-left:30px;"><i>Note: The certificate of German langugage for B1 is also available.</i> </p>
    </div>

</div>

