<div class="skills">
    <div class="programming">
        <h2>Proramming Languages</h2>
        <ul>
            <li>
                <strong>Python:</strong> Using Python, I can do all the task related to Data Manipulation, Visualization, and Machine Learning implementation. 
            </li>
    
            <li>
                <strong>SQL:</strong> As a student of Data Science, I can can manipulate the database using SQL. I have a good grip and hands-on epxeriences with SQL along with <strong>PostgreSQL</strong>.
            </li>
    
            <li>
                <strong>JavaScript:</strong> I have learned the JavaScript and Vue.js during the front-end development at Digitale Akademy. However, I can say that I still need to learn a lot for JavaScript and Vue.js.
            </li>
    
            <li>
                <strong>C & C++:</strong> With all the assignments done in my Bachelors, I have good understandings of C/C++. <a href="https://github.com/yshyam787/Programming_in_C_and_C-">Read more</a>
            </li>
    
            <li>
                <strong>Others:</strong> Besides those major programming langugaes, I have basic understandings of the other programming languages which includes <strong>R, MATLAB</strong>, and <strong>Vue.js</strong>. I also have good proficiency in <strong>HTML</strong> and <strong>CSS</strong>. 
            </li>
    
        </ul>
    </div>
    
    <div class="dsTools">
        <h2>Data Science Tools</h2>
        <ul>
            <li>
                <strong>Metabase:</strong> I have actively used Metabase for quering and integrating it with PostgreSQL.
            </li>
    
            <li>
                <strong>Solr:</strong> I have used it in the past for indexing the IMDb Movies Dataset and performed the query. <a href="https://github.com/yshyam787/Solr_IMDB_Indexing">Read more</a>
            </li>
    
            <li>
                <strong>PostgreSQL:</strong> Used it as a main source of database in the recent days. 
            </li>
    
            <li>
                <strong>Orange:</strong> Discretization, Preprocessing of text Data, and Tokenization of the sentences were implemented. <a href="https://github.com/yshyam787/Data_Science_Infrastructures/blob/main/Exercise3/Ray_Yadav_DSI_E03.pdf">Read more</a>
            </li>
    
            <li>
                <strong>Neo4j:</strong> Studied in the course of Data Science Infrastructure. Visualized CSV file in Neo4j, created graph schema, extended cypher to create nodes, and visualized labels and relationships. <a href="https://github.com/yshyam787/Data_Science_Infrastructures/blob/main/Exercise5/Ray_Yadav_DSI_Exercise_05.pdf">Read more</a>
            </li>
    
            <li>
                <strong>Spark:</strong> Created cluster, performed MapReduce on Spark cluster, and ran a Spark Job. <a href="https://github.com/yshyam787/Data_Science_Infrastructures/blob/main/Exercise6/Ray_Yadav_DSI_Ex_6.pdf"> Read more</a> 
            </li>
        </ul>
    </div>
    
    <div class="dataProcessing">
        <h2>Data Processing</h2>
        <ul>
            <li>
                <strong>Data Manipulation:</strong> Libraries like Pandas, NumPy, and SciPy were used to preprocess and manipulate the data. 
            </li>

            <li>
                <strong>Machine Learning:</strong> Hands-on experiences with the libraries like scikit-learn, PyTorch, TensorFlow, Random Forest, XGBoost. <a href="https://github.com/yshyam787/Machine_Learning_Implementation">Read more</a>
            </li>

            <li>
                <strong>Visualization:</strong> Libraries like Matplotlib, Seaborn, Plotly, and ggplot2 were used for the visualization. <a href="https://github.com/yshyam787/Data_Visualization">Read more</a> 
            </li>
        </ul>
    </div>

    <div class="miscellaneous">
        <h2>Miscellaneous</h2>
        <ul>

            <li> <strong>WordPress:</strong> Website Development including API and plugins integration. </li>

            <li>
                <strong>Databricks:</strong> Studied in the Data Science Infrastructure course. <a href="https://github.com/yshyam787/Data_Science_Infrastructures/blob/main/Exercise7/Ray_Yadav_DSI_Ex_7.pdf">Read more</a>
            </li>

            <li>
                <strong>GitLab:</strong> Pushing, pulling, staging, commiting, merging, creating branches, creating and solving issues, and so on can be performed.  
            </li>

            <li>
                <strong>Owncloud:</strong> Hands on experience with Owncloud client, syncing data, and WebDAB protocol.
            </li>

            <li>
                <strong>Agile:</strong> SCRUM and JIRA for project management and tracking milestones. 
            </li>

            <li>
                <strong>PareseHub: </strong> Used for Website crawling. 
            </li>

            <li>
                <strong>Operating Systems:</strong> Docker, Linux, macOS, Windows
            </li>

            <li><strong>Documentation:</strong> Latex, Canva, Jupyter Notebook, Adobe Captivate</li>
        </ul>
    </div>

    <div class="maths">
        <h2>Maths for Data Science</h2>

        <ul>
            <li>Advance Statistical Inference (Likelihood and Bayes)</li>
            <li>Probability and Random Process</li>
            <li>Numerical Methods</li>
            <li>Calculus and Linear Algebra I</li>
            <li>Calculus and Linear Algebra II</li>
            <li>Information Theory</li>
        </ul>
    </div>

    <div class="languages">
        <h2>Languages</h2>

        <ul id="lang-style">
            <li><strong>English: </strong>Fluent</li>
            <li><strong>German: </strong>B1</li>
            <li><strong>Hindi: </strong>Fluent</li>
            <li><strong>Nepali: </strong>Native</li>
            <li><strong>Maithli: </strong>Native</li>
        </ul>

        <p style="padding-left:30px;"><i>Note: The certificate of German langugage for B1 is also available.</i> </p>
    </div>

</div>

