<div class="skills">
    <div class="programming">
        <h2>Programming Languages</h2>
        <ul>
            <li>
                <strong>Python:</strong> Using Python, I can perform tasks related to data manipulation, visualization, and machine learning implementation.
            </li>
    
            <li>
                <strong>SQL:</strong> As a Data Science student, I can manipulate databases using SQL. I have a good grasp and hands-on experience with SQL, particularly with <strong>PostgreSQL</strong>.
            </li>
    
            <li>
                <strong>JavaScript:</strong> I learned JavaScript and Vue.js during front-end development at Digitale Akademie. However, I still have a lot to learn about JavaScript and Vue.js.
            </li>
    
            <li>
                <strong>C & C++:</strong> Through various assignments during my bachelor's degree, I developed a solid understanding of C/C++. 
                <a href="https://github.com/yshyam787/Programming_in_C_and_C-">Read more</a>
            </li>
    
            <li>
                <strong>Others:</strong> Besides these major programming languages, I have a basic understanding of other languages, including <strong>R, MATLAB</strong>, and <strong>Vue.js</strong>. 
                I also have strong proficiency in <strong>HTML</strong> and <strong>CSS</strong>.
            </li>
        </ul>
    </div>

    <div class="dsTools">
        <h2>Data Science Tools</h2>
        <ul>
            <li>
                <strong>Metabase:</strong> I have actively used Metabase for querying and integrating it with PostgreSQL.
            </li>
    
            <li>
                <strong>Solr:</strong> I have used it in the past for indexing the IMDb Movies Dataset and performing queries. 
                <a href="https://github.com/yshyam787/Solr_IMDB_Indexing">Read more</a>
            </li>
    
            <li>
                <strong>PostgreSQL:</strong> Used as my primary database management system in recent projects.
            </li>
    
            <li>
                <strong>Orange:</strong> Implemented discretization, text data preprocessing, and sentence tokenization. 
                <a href="https://github.com/yshyam787/Data_Science_Infrastructures/blob/main/Exercise3/Ray_Yadav_DSI_E03.pdf">Read more</a>
            </li>
    
            <li>
                <strong>Neo4j:</strong> Studied as part of the Data Science Infrastructure course. 
                Visualized CSV files in Neo4j, created graph schemas, extended Cypher queries to create nodes, and visualized labels and relationships. 
                <a href="https://github.com/yshyam787/Data_Science_Infrastructures/blob/main/Exercise5/Ray_Yadav_DSI_Exercise_05.pdf">Read more</a>
            </li>
    
            <li>
                <strong>Spark:</strong> Created a cluster, performed MapReduce on a Spark cluster, and ran a Spark job. 
                <a href="https://github.com/yshyam787/Data_Science_Infrastructures/blob/main/Exercise6/Ray_Yadav_DSI_Ex_6.pdf"> Read more</a> 
            </li>
        </ul>
    </div>
      
    <div class="dataProcessing">
        <h2>Data Processing</h2>
        <ul>
            <li>
                <strong>Data Manipulation:</strong> Libraries such as Pandas, NumPy, and SciPy were used to preprocess and manipulate data.
            </li>
    
            <li>
                <strong>Machine Learning:</strong> Hands-on experience with libraries such as scikit-learn, PyTorch, TensorFlow, Random Forest, and XGBoost. 
                <a href="https://github.com/yshyam787/Machine_Learning_Implementation">Read more</a>
            </li>
    
            <li>
                <strong>Visualization:</strong> Libraries such as Matplotlib, Seaborn, Plotly, and ggplot2 were used for data visualization. 
                <a href="https://github.com/yshyam787/Data_Visualization">Read more</a> 
            </li>
        </ul>
    </div>
    
    <div class="miscellaneous">
        <h2>Miscellaneous</h2>
        <ul>
    
            <li> <strong>WordPress:</strong> Website development, including API and plugin integration. </li>
    
            <li>
                <strong>Databricks:</strong> Studied as part of the Data Science Infrastructure course. 
                <a href="https://github.com/yshyam787/Data_Science_Infrastructures/blob/main/Exercise7/Ray_Yadav_DSI_Ex_7.pdf">Read more</a>
            </li>
    
            <li>
                <strong>GitLab:</strong> Experience with pushing, pulling, staging, committing, merging, creating branches, 
                managing and solving issues, and more.
            </li>
    
            <li>
                <strong>OwnCloud:</strong> Hands-on experience with the OwnCloud client, data synchronization, and WebDAV protocol.
            </li>
    
            <li>
                <strong>Agile:</strong> Experience with SCRUM and JIRA for project management and milestone tracking.
            </li>
    
            <li>
                <strong>ParseHub:</strong> Used for web crawling.
            </li>
    
            <li>
                <strong>Operating Systems:</strong> Experience with Docker, Linux, macOS, and Windows.
            </li>
    
            <li>
                <strong>Documentation:</strong> Proficient in LaTeX, Canva, Jupyter Notebook, and Adobe Captivate.
            </li>
    
        </ul>
    </div>
    
    <div class="maths">
        <h2>Mathematics for Data Science</h2>

        <ul>
            <li>Advance Statistical Inference (Likelihood and Bayes)</li>
            <li>Probability and Random Process</li>
            <li>Numerical Methods</li>
            <li>Calculus and Linear Algebra I</li>
            <li>Calculus and Linear Algebra II</li>
            <li>Information Theory</li>
        </ul>
    </div>

    <div class="languages">
        <h2>Languages</h2>

        <ul id="lang-style">
            <li><strong>English: </strong>Fluent</li>
            <li><strong>German: </strong>B1</li>
            <li><strong>Hindi: </strong>Fluent</li>
            <li><strong>Nepali: </strong>Native</li>
            <li><strong>Maithli: </strong>Native</li>
        </ul>

        <p style="padding-left:30px;"><i>Note: The certificate of German langugage for B1 is also available.</i> </p>
    </div>

</div>

