@media screen and (max-width:600px) {
    .welcome-content{
        flex-direction: column; /*stack elements vertically */
    }  

    .education-content {
        flex-direction: column;
    }
}
/* main {
    background-color: lightgrey;
} */

.intro-home{
    text-align:center;
    background-color: black;    
    color: white;
    padding: 2px;
    font-size: x-large;
    font-weight: bold;
}

.welcome {
    max-width: 100vw;
    margin: 20px; /* to create margin around the content */
    padding: 20px;
    /* border: 1px solid lightgrey;
    border-radius: 5px; */
    text-align: center;
} 

.welcome-content {
    display: flex; /* to wrap the content and the image. */
    align-items: center; /*alight items vertically */
    gap: 20px;; /*space between text and image */
}

.welcome-text {
    flex: 1; /*take the available space */
    text-align: justify;
}

#shyamyadav { 
    width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.other-info {
    max-width: 100%;
    margin: 20px;
}

.education {
    padding: 20px;
}

.education-content {
    max-width: 900px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.masterCourse {
    max-width: 450px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
    margin: 20px;
    border-radius: 5px;

}

.bachelorCourse {
    max-width: 450px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
    margin: 20px;
    border-radius: 5px;

}

.social-engagement {
    height: 100%;
    padding: 20px;
    text-align: justify;
}

#degis-team {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}